section {
    margin-top: 4.25dvw;
    margin-bottom: 2dvw;

    padding: var(--f0);
    font-size: var(--f2);
    animation: spa 1s ease-in-out forwards;
}

#gameslv {
    margin-top: var(--gup);
}

#gamecard {
    margin: var(--f0d5);
    border-radius: var(--f0d5);
    overflow: hidden;
    position: relative;
    width: var(--gcw);
    height: var(--gch);

    & #img {
        position: relative;
        border-radius: var(--f0d5);
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        transition: transform 0.3s ease-in-out;
    }

    & .logoss {
        position: relative;
        width: 100%;
        height: 100%;
        margin-top: -2dvw;
        margin-left: var(--f2);
        background-position: left;
        background-size: var(--i16);
        background-repeat: no-repeat;
    }

    & .title {
        position: absolute;
        bottom: 0;
        margin: var(--f1) var(--f1) var(--f0) var(--f2);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    &:hover {
        .title {
            opacity: 1;
            transition: opacity 0.3s ease-in-out;
        }
    }
}

.flexer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.spliter {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;

    & h3 {
        font-size: var(--f0);
        width: 50%;
        padding: var(--f1);
    }
}

.control {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content:space-between;
    align-items: center;

    padding: var(--f0);
    background-image: url("../img/7.png");
    background-position: bottom;
    background-size: cover;
    animation: spa 1s ease-in-out;
    border-radius: var(--f0d5);
    height: 40dvw;

    & div {
        text-align: center;
        font-size: var(--f4);
    }
}

h1 {
    font-size: var(--f4);
    text-align: center;
    animation: spa 1s ease-in-out forwards;
}

.buton {
    background-color: var(--c1);
    margin: var(--f2);
    padding: var(--f0d5);
}

@media screen and (max-width: 1000px) {
    .spliter {
        flex-direction: column;
        & h3 {
            width: 90%;
        }
    }
}