.logo {
    color: var(--crlia);
    font-size: 5.vh;
    font-weight: 200;
    padding: 2px 10px 2px 10px;
}

.toggle-theme {
    background-color: #00000000;
}

section {
    padding: 0.2vh 1vh 0.2vh 1vh;
}

h1 {
    color: var(--abtn);
    padding: 0.2vh 1vh 0.2vh 1vh;
    cursor: default;
    text-align: left;
    font-size: 5vh;
    font-weight: 700;
    padding: 0;
}

p {
    color: var(--abtn);
    cursor: default;
    text-align: left;
    font-size: 3vh;
    font-weight: 300;
}


.snap {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;
}

#qwelcome {
    width: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#qwelcome h1 {
    height: 140px;
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centerli {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
}

#yawelcome {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

#bre {
    padding: 0;
    background: var(--w1);
    width: 100%;
    margin-top: -48px;
    border-radius: 20px;
    box-shadow: inset 0 10px 10px -16px var(--boxshadow);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;

    padding: 0px;
}

#sbre {
    width: 80%;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;

    padding: 0px;
    padding-top: 32px;
    padding-bottom: 48px;
}

#sbre img {
    width: 400px;
    padding-top: 32px;
    padding-bottom: 48px;
}

#bre #breg h1 {
    color: var(--abtn);
}

#breg p {
    text-align: left;
}

#re {
    padding: 0;
    background: var(--re);
    width: 100%;
    margin-top: -17px;
    border-radius: 20px;
    box-shadow: inset 0 10px 10px -16px var(--boxshadow);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    padding-bottom: 36px;
}

#reg {
    width: 80%;
    padding-top: 32px;
    padding-bottom: 48px;
}

#reg h1 {
    color: var(--crh1);
    padding: 0;
}

#pipi {
    padding: 0;
    text-align: left;
}

#reg .b {
    width: fit-content;
}

.l {
    font-weight: 700;
}

.game_background {
    max-height: 560px;
    padding-bottom: 40px;
    background-image: var(--gamebackground);
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    padding: 2vh;
}

.game_background h1 {
    font-size: 6vh;
}

.game_background p {
    font-size: 3.5vh;
}

.nongames {
    padding-top: 0px;
}

.nongames p {
    padding: 0;
}

.rtlc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: flex-start;

    padding: 3vh;
    width: 80%; 
}

.game_background div img {
    width: 400px;
    padding: 3vh;
    text-align: center;
}

.game_background h1 {
    font-weight: 700;
    text-align: center;
}

.game_background p {
    font-weight: 500;
    text-align: center;
}

#beta {
    color: #fff;
    background-color: #ff0000;
    border-radius: 0.5vh;
    font-size: 1.9vh;
    padding: 0.2vh;
    margin: 0.6vh;
}

.ltrc {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    padding-top: 9vh;
    padding-bottom: 2vh;
    width: 80%;
}

.pipib {
    color: var(--plia);
}

#black {
    display: none;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#black img {
    width: 80%;
}

@media screen and (max-width: 1700px) {
    .game_background h1 {
        font-size: 5vh;
    }
    .game_background p {
        font-size: 3vh;
    }
}
@media screen and (max-width: 1300px) {
    .game_background p,
    #pipi,
    .nongames p {
        font-size: 2.5vh;
    }
    .game_background div img {
        width: 300px;
        padding: 3vh;
    }
}
@media screen and (max-width: 1100px) {
    .game_background p,
    #pipi,
    .nongames p {
        font-size: 2.3vh;
    }
    .game_background div img {
        padding: 3vh;
    }
    .game_background div img,
    #sbre img {
        width: 250px;
    }
}
@media screen and (max-width: 990px) {
    .game_background p,
    #pipi,
    .nongames p {
        font-size: 2.2vh;
    }
    .game_background div img {
        padding: 2.5vh;
    }
    h1 {
        font-size: 4vh;
    }
}
@media screen and (max-width: 990px) {
    .game_background p,
    #pipi,
    .nongames p {
        font-size: 2vh;
    }
    h1 {
        font-size: 3.8vh;
    }
    .game_background div img,
    #sbre img {
        display: none;
    }
}
@media screen and (max-width: 810px) {
    .game_background div img {
        padding: 1vh;
        width: 230px;
    }
}
@media screen and (max-width: 775px) {
    .game_background p,
    #pipi,
    .nongames p {
        font-size: 2.5vh;
    }
    h1 {
        font-size: 4.5vh;
    }
    .ltrc,
    #sbre,
    #breg {
        width: 90%;
    }
}
@media screen and (max-width: 760px) {
    .game_background p {
        font-size: 2.5vh;
    }
    .game_background h1 {
        font-size: 4.5vh;
    }
    #pipi,
    .nongames p {
        font-size: 2.2vh;
    }
    h1 {
        font-size: 4vh;
    }
    .tblr,
    #games {
        display: flex;
        flex-direction: column;
        align-content: center;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 660px) {
    .game_background p {
        font-size: 2.2vh;
    }
    .game_background h1 {
        font-size: 4vh;
    }
    #pipi,
    .nongames p {
        font-size: 2vh;
    }
    h1 {
        font-size: 3.5vh;
    }
}
@media screen and (max-width: 590px) {
    .game_background p {
        font-size: 2vh;
    }
    .game_background h1 {
        font-size: 3.8vh;
    }
    #pipi,
    .nongames p {
        font-size: 1.8vh;
    }
    h1 {
        font-size: 3vh;
    }
}
@media screen and (max-width: 470px) {
    header ul {
        flex-direction: column;
    }
    #pipi,
    .nongames p {
        font-size: 1.7vh;
    }
    h1 {
        font-size: 2.8vh;
    }
    .lang-rtg {
        text-align: center;
    }
}