@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;

    scroll-behavior: auto;
    font-weight: 600;
    line-height: 1;
}

:root {
    --c0: #111;
    --c1: #222;
    --c2: #333;
    --c3: #eee;
    --c4: #444;

    --f0: 1.5dvw;
    --f1: 1dvw;
    --f0d5: 0.5dvw;
    --f2: 2dvw;
    --f3: 3dvw;
    --f4: 4dvw;
}

body {
    background-color: var(--c1);
    color: var(--c3);
    margin: 0;
    padding: 0;
    font-size: var(--f0);
}

li {
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: none;
    color: var(--c3);
}

a:hover,
a:visited {
    color: var(--c3);
}

strong {
    font-weight: 700;
}

/* WEBKIT SCROLLBAR */
::-webkit-scrollbar {
    width: var(--f0d5);
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--c0);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--c3);
    width: 1dvw;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: grab;
}

.logo {
    width: 3dvw;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    animation: ha 1s ease-in-out;
    opacity: 1;
    z-index: 3;

    border-radius: var(--f0d5);
    background-color: #11111155;
    backdrop-filter: blur(0.2dvw);
    padding: var(--f0d5);
    position: fixed;
    top: var(--f0d5);
    left: var(--f0);
    right: var(--f0);

    & a {
        font-weight: 400;
        font-size: var(--f0);
        padding: var(--f0d5);
    }
    & .hh {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-between;
        align-items: center;

        & p {
            font-weight: 400;
        }
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 5.25dvw;
    right: 0;
    padding: 0;
    background-color: #11111155;
    backdrop-filter: blur(0.2dvw);
    z-index: 1;
    border-radius: var(--f0d5);

    & a {
        color: var(--c3);
        padding: var(--f0d5);
        text-decoration: none;
        display: block;
        font-size: var(--f0);
        color: var(--c3);
        text-align: right;

        &:hover {
            background-color: #333333aa;
            border-radius: 0.5vh;
        }
    }
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    z-index: 2;

    background-color: var(--c0);
    padding: var(--f1);
    box-shadow: #111 1dvw 1dvw 1dvw 2dvw;

    & p.left {
        width: 50%;
        font-weight: 300;
        font-size: var(--f1);
    }
}

@keyframes spa {
    from {
        opacity: 0;
        scale: 0.8;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

@keyframes ha {
    from {
        opacity: 0;
        transform: translateY(-4dvw);
    }
    to {
        opacity: 1;
        transform: translateY(0dvw);
    }
}

.ton2b {
    display: block;
    position: fixed;
    bottom: -0.5dvw;
    height: var(--f0d5);
    width: 100%;
    background-color: var(--c0);
    box-shadow: #111 1dvw 1dvw 1dvw 2dvw;
    filter: blur(0.3vh);
    z-index: 3;
    content: '　';
}