@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Syne', sans-serif;

    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;

    scroll-behavior: auto;
    font-weight: 600;
    line-height: 1;
}

:root {
    --c0: #3241ce;
    --c1: #1f2881;
    --c2: #676eff;
    --c3: #e4e4e4;
    --c4: #0c1034;

    --h1: 4dvw;
    --ajbuh1: 5dvw;
    --h2: 4vh;
    --ajbuhh2: 2dvw;
    --h3: 1.5dvw;
    --p: 3dvw;
    --a: 2dvw;
    --qfaq: 2dvw;
    --afaq: 1.5dvw;
    --dvh: 30dvw;
}

body {
    background-color: var(--c3);
    color: var(--c0);
    margin: 0;
    padding: 0;
    font-size: 6vh;
}

.control {
    width: 80%;
}

li {
    list-style-type: none;
}

a {
    cursor: pointer;
    text-decoration: none;
    text-decoration-color: none;
    color: var(--c3);
    font-size: var(--a);
}

a:hover,
a:visited {
    color: var(--c3);
}

section {
    width:100dvw;
    padding: 2dvw 0 2dvw 0;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

h1 {
    font-size: var(--h1);
    font-weight: 800;
    padding: 1vh;
    line-height: 1;
}

h1 span {
    background-color: var(--c1);
    margin: 0.5vh;
}

h2 {
    font-size: var(--h2);
    padding: 1vh;
    line-height: 1;
}

h3 {
    font-size: var(--h3);
}

p {
    font-size: var(--p);
}

header {
    width: 97vw;
    padding: 1.5vw;
    background-color: var(--c1);
    color: var(--c3);
    position: sticky;
    z-index: 5;
    top: 0;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

header ul {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    width: 70dvw;
}

header li {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

header li a {
    font-weight: 800;
    font-size: 2dvw;
    line-height: 0.75;
}

@keyframes in {
    from {
        right: -33.15vh;
    }
    to {
        right: 0vh;
    }
}
  
@keyframes out {
    from {
        right: 0vh;
    }
    to {
        right: -33.15vh;
    }
}

.jbu {
    background-color: var(--c1);
    color: var(--c3);
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    height: var(--dvh);
}

.faq {
    background-color: var(--c1);
    color: var(--c3); 
}

.jbu h1 {
    font-size: var(--ajbuh1);
    text-align: center;
}

.jbu h2 {
    font-size: var(--ajbuhh2);
    text-align: left;
}

.ajg, .nongames {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.ajg h1 {
    font-size: var(--ajbuh1);
    text-align: center;
}

.ajg h2 {
    font-size: var(--ajbuhh2);
}

#ltext {
    background-color: var(--c1);
    color: var(--c3);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
}

#ltext div {
    width: 80%;
    padding: 1dvw;
}

#ltext h1 {
    font-size: 3.5dvw;
}

#ltext p {
    font-size: 1.75dvw;
}

.games {
    flex-direction: column;
    flex-wrap: wrap;
}

.games .split {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.games h3 {
    text-align: inherit;
}

.split2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.split2 h1 {
    text-align: center;
}

.split3 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.b {
    cursor: pointer;
    padding: 1dvw;
    border: none;
    border-radius: 1vh;
    font-size: 2dvw;
    font-weight: 700;
    background-color: var(--c1);
    margin: 1vh;
    width: fit-content;
    text-align: center;
    text-transform: uppercase;
}

.b a {
    color: var(--c3);
}


footer {
    width: 97vw;
    padding: 1.5vw;
    background-color: var(--c1);
    color: var(--c3);
    position: sticky;
    z-index: 5;
    top: 0;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

footer li {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
}

a.bang {
    cursor: help;
}

p.tooltiptext {
    width: 80%;
    background-color: rgba(0, 0, 0, 0);
    color: var(--c3);
    text-align: center;
    font-size: 1.25dvw;
}
  
a:hover .tooltiptext {
    visibility: visible;
}

a.bang {
    cursor: help;
}

#black {
    display: none;
    background-color: var(--c3);
    height: 100dvh;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#black img {
    width: 80%;
}

/* WEBKIT SCROLLBAR */

::-webkit-scrollbar {
    width: 1vh;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--crlia);
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--w1);
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--bglia);
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}






/* FAQ */

.accordion {
    max-width: fit-content;
}

.accordion-item {
    background-color: var(--c0);
    margin: 1vh;
    border-radius: 0.5vh;
    box-shadow: 0 0.2vh 0.5vh 0 rgba(0,0,0,0.25);
    color: var(--c3);
}

.accordion-item-header {
    padding: 1dvw;
    min-height: 2.5dvw;
    font-weight: bold;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--aihfs);
    background-color: var(--hbgbs);
    color: var(--crlia);
}

.accordion-item-header::after {
    content: "\002B";
    position: absolute;
    line-height: 1;
    right: 1.5dvw;
    font-size: 2.5dvw;
}
  
.accordion-item-header.active::after {
    content: "\2212";
}

.accordion-item-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
    border-top: 0.1vh solid;
    border-image: linear-gradient(to right, transparent, var(--c3), transparent) 1;
}

.accordion-item-body-content ul {
    padding-left: 1vh;
}

.qfaq {
    font-size: var(--qfaq);
    width: 90%;
}

.afaq, .afaq p {
    font-size: var(--afaq);
    padding: 1.5vh;
}

strong {
    font-weight: 700;
}