:root{
    --plimg: 30%;
    --h1fs: 10vh;
    --h3fs: 1.5vh;
    --h2fs: 5vh;
    --pfs: 5vh;
    --stpfs: 3vh;
    --button: #000;
    --i: rgba(0, 0, 0, 0.3);
    --ci: rgb(0, 0, 0);
    --h3fs: 15vh;
    --pfs: 5vh;
    --h: 60vh;
    --w: 50vh;
    --spd: 8vh;
}

:root[data-theme='dark']{
    --button: #fff;
    --i: rgba(255, 255, 255, 0.3);
    --ci: rgb(255, 255, 255);
}

.bulb {
    height: 80%;
    position: absolute;
    right: 7vh;
}

.whi {
    background-color: var(--c3);
    margin-top: -15vh;
}

.ltrcmain {
    background-color: var(--c1);
    display: flex;
    height: var(--h);
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: -5vh;
    margin-right: 0;
    padding: var(--spd);
}

.ltrcmain div {
    position: relative;
    width: var(--w);
}

.ltrcmain h1 {
    position: relative;
    font-weight: 800;
    font-size: var(--h1fs);
    color: var(--c3);
    z-index: 2;
    padding: 0;
}

.ltrcmain p {
    font-size: var(--stpfs);
    color: var(--c3);
    font-weight: 600;
}

p {
    font-size: var(--stpfs);
    color: var(--c4);
    font-weight: 600;
}

.splittblock {
    display: flex;
    padding: 1.6vh;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: 95%;
    align-items: flex-start;
}

h2 {
    display: block;
    line-height: 1;
    font-weight: bold;
    font-size: var(--h2fs);
    color: var(--c3);
    background-color: var(--c1);
    padding: 16px;
}

.p2 {
    padding: 0px 32px 16px 16px;
    width: 50%;
}

.p3 {
    padding-top: 1vh;
}

a.ast {
    color: var(--button);
}

a.ast:hover, a.ast:visited {
    color: var(--button);
}

.carousel {
    position: relative;
    width: 50%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

.carousel-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.carousel-track-container {
    background: #4254f4;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-track, .carousel-track2 {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel-slide, .carousel-slide2 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel-button-left {
    left: -40px;
}

.carousel-button-right {
    right: -40px;
}

svg {
    max-width: 50%;
    display: block;
}

.carousel-button svg {
    width: 24px;
    fill: var(--button);
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.carousel-indicator {
    border: 0;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: var(--i);
    margin: 0 12px;
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background: var(--ci);
}

.is-hidden {
    display: none;
}

.game_background {
    padding-bottom: 4vh;
    background-color: var(--bgtheme);;
    box-shadow: inset 0 10px 10px -16px var(--boxshadow);
}

.game_background img {
    width: 50%;
    margin: 0 auto;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    padding-right: 10%;
    position: relative;
}

.head {
    flex-basis: 80%;
    padding: 16px;
}

h1[data-v-2ba6adc4] {
    padding-top: 10%;
    display: block;
    line-height: 1;
    font-weight: bold;
    font-size: var(--h3fs);
    color: #fff;
}

p[data-v-2ba6adc4] {
    padding-top: 1%;
    font-size: var(--pfs);
    color: #fff;
}

.splitter {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media screen and (max-width: 1375px) {
    :root{
        --h3fs: 12vh;
        --h2fs: 4vh;
        --pfs: 3vh;
        --stpfs: 2vh;
    }
}

@media screen and (max-width: 1300px) {
    :root{
        --h2fs: 4vh;
    }
}

@media screen and (max-width: 1150px) {
    :root{
        --h2fs: 3vh;
        --stpfs: 2vh;
        --h: 50vh;
    }
}
@media screen and (max-width: 1060px) {
    :root{
        --h3fs: 10vh;
        --pfs: 2vh;
    }
}
@media screen and (max-width: 1030px) {
    :root{
        --h2fs: 4vh;
        --stpfs: 2vh;
        --w: 100wvh;
        --spd: 5.5vh;
    }
    .splittblock {
        flex-direction: column;
        align-items: center;
    }
    .carousel {
        width: 80%;
    }
    .p2 {
        width: 100%;
    }
    .bulb {
        display: none;
    }
}
@media screen and (max-width: 950px) {
    :root{
        --h: 45vh;
        --h1fs: 8vh;
    }
}
@media screen and (max-width: 900px) {
    :root{
        --h3fs: 10vh;
        --h2fs: 4vh;
        --stpfs: 2vh;
    }
    .ltrc3 div {
        margin-top: 0px;
        padding-top: 64px;
        padding-bottom: 156px;
    }
}
@media screen and (max-width: 780px) {
    :root{
        --h1fs: 6vh;
        --spd: 4.5vh;
    }
}
@media screen and (max-width: 600px) {
    :root{
        --h1fs: 5vh;
    }
}
@media screen and (max-width: 560px) {
    :root{
        --h1fs: 4vh;
        --h3fs: 84px;
        --stpfs: 18px;
        --h2fs: 32px;
        --stpfs: 16px;
        --spd: 0vh;
    }
    .ltrcmain, .whi {
        padding: 1vh;
    }
}