:root{
    --plimg: 30%;
    --h3fs: 1.5vh;
    --h2fs: 5vh;
    --pfs: 5vh;
    --button: #000;
    --i: rgba(0, 0, 0, 0.3);
    --ci: rgb(0, 0, 0);
    --h3fs: 15vh;
    --pfs: 5vh;
}

:root[data-theme='dark']{
    --button: #fff;
    --i: rgba(255, 255, 255, 0.3);
    --ci: rgb(255, 255, 255);
}

.whi {
    background-color: var(--c3);
    margin-top: -5dvw;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
svg {
    height: 1vh;
}

.ltrcmain {
    background-color: var(--c1);
    display: flex;
    height: 30dvw;
    width: 92dvw;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 4dvw;
}

.ltrcmain .texts {
    position: relative;
    z-index: 1;
    width: 50%;
}

.ltrcmain h1 {
    font-weight: 800;
    font-size: 6dvw;
    color: var(--c3);
    z-index: 2;
    padding: 0;
}

.ltrcmain p {
    font-size: 1.75dvw;
    color: var(--c3);
    font-weight: 600;
}

.ltrcmain img {
    position: absolute;
    z-index: 0;
    top: 1dvw;
    height: 40dvw;
    right: 10dvw;
}

p {
    font-size: 1.75dvw;
    color: var(--c4);
    font-weight: 600;
}

.splittblock {
    display: flex;
    padding: 1.6vh;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    width: 95%;
    align-items: flex-start;
}

h2 {
    display: block;
    line-height: 1;
    font-weight: bold;
    font-size: 3dvw;
    color: var(--c3);
    background-color: var(--c1);
    padding: 1dvw;
}

.p2 {
    padding: 0px 2dvw 1dvw 0;
    width: 50%;
}

.p3 {
    padding-top: 1vh;
}

a.ast {
    color: var(--button);
}

a.ast:hover, a.ast:visited {
    color: var(--button);
}

.carousel {
    position: relative;
    width: 50%;
    aspect-ratio: 16 / 9;
    margin: 0 auto;
}

.carousel-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.carousel-track-container {
    background: #4254f4;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel-track, .carousel-track2 {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel-slide, .carousel-slide2 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel-button-left {
    left: -2dvw;
}

.carousel-button-right {
    right: -2.5dvw;
}

svg {
    max-width: 50%;
    display: block;
}

.carousel-button svg {
    width: 2dvw;
    fill: var(--button);
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 1dvw 0;
}

.carousel-indicator {
    border: 0;
    border-radius: 50%;
    width: 0.75dvw;
    height: 0.75dvw;
    background: var(--i);
    margin: 0 1dvw;
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background: var(--ci);
}

.is-hidden {
    display: none;
}

.game_background {
    padding-bottom: 4vh;
    background-color: var(--bgtheme);;
    box-shadow: inset 0 10px 10px -16px var(--boxshadow);
}

.game_background img {
    width: 50%;
    margin: 0 auto;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    padding-right: 10%;
    position: relative;
}

.head {
    flex-basis: 80%;
    padding: 16px;
}

h1[data-v-2ba6adc4] {
    padding-top: 10%;
    display: block;
    line-height: 1;
    font-weight: bold;
    font-size: var(--h3fs);
    color: #fff;
}

p[data-v-2ba6adc4] {
    padding-top: 1%;
    font-size: var(--pfs);
    color: #fff;
}

.splitter {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
}