#snowflakeContainer {
    position: fixed;
    left: 0px;
    top: 0px;
    display: none;
  }
  
  .snowflake {
    position: fixed;
    background-color: white;
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ */
    z-index: 1000;
    pointer-events: none;
    border-radius: 50%;
    width: 10px;
    height: 10px;
  }